body{
  margin: 0;
}

h1{
  margin: 0;
}

.top-container{
  text-align: center;
  background-color:#FFF5EB;
}

.middle-container{
  width:200px;
  height:200px;
  background-color: red;
}

.bottom-container{
  width:200px;
  height:200px;
  background-color: blue;
}
